

.full{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
  background-image: url("/images/cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Dark Mode */

body.dark{
background:#121212;
color:white;
}

body.dark .card{
background:#1f1f1f;
color:white;
}

body.dark .alert{
background:#222;
color:white;
}

/* Weather icon */

.weather-icon{
font-size:40px;
}
footer{
background:#f8f9fa;
}

body.dark footer{
background:#1a1a1a;
color:white;
}

body.dark footer span{
color:#ccc !important;
}

body.dark footer a{
color:#4da3ff !important;
}


