.github{
    margin-right: 50px;
}

body {
  margin: 0;
  min-height: 100vh; 

  background-image: url("/images/cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: sans-serif;
    display: flex;
  flex-direction: column;
}

footer {
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  );
  color: white;
}

